.btn-orange {
  background-color: #fd7e14; /* Naranja */
  color: white;
}

.contador-errores {
  font-size: 2rem;
  font-weight: bold;
  color: red;
}

.contador {
  text-align: center;
  padding: 40px 60px;
  border-radius: 10px;
  border: 2px solid #000;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
