.contador {
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  