.contenedor-principal {
  display: flex;
  align-items: stretch; /* Asegura que todos los elementos tengan la misma altura */
  height: 100vh; /* Altura completa del viewport */
}

.botonera-izquierda,
.botonera-derecha {
  flex: 0 0 27%; /* Ocupan un 20% del ancho total */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea botones al inicio */
  gap: 5px;
  overflow-y: auto; /* Habilita scroll si el contenido desborda */
  padding: 5px; /* Añade algo de espacio interno */
}

.contador-errores-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Para que esté sobre el mapa */
}